venv/
000.icns
000.ico
PeakDeskSprite.spec
builddmg.sh
__pycache__/
PeakDeskSprite/__pycache__/
PeakDeskSprite/SpriteSettings/__pycache__/
PeakDeskSprite/Dashboard/__pycache__/
data/
logs/
dist/
build/
run_PeakDeskSprite.exe
run_PeakDeskSprite.spec
res/role/纳西妲
res/role/露西亚·深红囚影
res/pet/兰纳罗
res/pet/蕈兽
res/pet/魈鸟
res/pet/散猫猫
res/role/猫猫
res/items/GenshinImpact
res/items/StarRail
res/items/Wuthering Waves
**/.DS_Store
.DS_Store
res/role/流萤
res/role/魈
res/role/流浪者
res/role/露西亚·誓焰
res/items/PunishingGrayRaven
res/items/Pikesou
res/role/像素猫meme
res/role/咕咕
res/role/守岸人
